.age-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    align-items: center;
}
.age-wrapper input {
    width: 38vh;
    font-size: 2vh;
    border-left: none ;
    border-right: none;
    border-top: none;
}

.age-wrapper input:focus {
    outline: none;
    border-bottom: .5vh skyblue solid;
}
